
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(
    rgba(255,255,255,0.1),
    rgba(255, 255, 255, 0.5)
  ), url('https://freellustrustrations.s3.us-east-2.amazonaws.com/free-images/thumbimg_25361957thumbejpg.jpg');
  background-size: cover;
  background-position: center;
}
form {
  padding: 0% 60px;
  background-color: aquamarine;
  width: 355px;
  text-align: center;
  align-items: center;
}
button {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  cursor: pointer;
}
